<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [0]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']

output = list(map(lambda x: x.upper() , lsbool))           # upper() converts a string into Uppercase.
                                                           # map() iterates the lambda function over the given list
print(output)                                              # Print the output List.

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# define a function
# we can pass variable number of arguments to '*height' 
def height_record(*height):
    for value in height: 
        print(value)
        
# call the function
height_record(162, 170, 158, 163, 152)

162
170
158
163
152

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# Take input from user for each function parameter inside the dictionary
inpsq = int(input('Enter first number: '))
inpcu = int(input('Enter second number: '))
inproot = int(input('Enter third number: '))
inpdouble = int(input('Enter forth number: '))

# Creating a dictionary with keys: Square, Cuve, Squareroot and Double. The values are the lambda functions.
dictLambda = {'Square': lambda x:x**2, 'Cube': lambda x:x**3, 'Squareroot': lambda x:(x**0.5),'Double': lambda x:x*2}

# Passing the user input value to the lambda functions and storing the sum of the outputs in the 'result' variable 
result = dictLambda['Square'](inpsq) + dictLambda['Cube'](inpcu) + dictLambda['Squareroot'](inproot) + dictLambda['Double'](inpdouble)

# Printing the sum
print('Sum : ',result)

Enter first number: 5
Enter second number: 4
Enter third number: 12
Enter forth number: 3
Sum :  98.46410161513775

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [0]:
words = ['hello', 'Dear', 'hOw', 'ARe', 'You']

def filterNames(x):                 # Creating a function filterNames(parameter) that will return the result as a boolean value
    if x[1].isupper():              # Checking whether the second character of the word fromthe list 'ls' is in upper case or not.
        return True
    else:
        return False
list(filter(filterNames, words))       # Returns the words that have their second character in uppercase

['hOw', 'ARe']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [0]:
tnames = ('John','Sharon','Jack','Annie')     # Tuple with names of the students
tmarks = (32,50,75,12)                        # Tuplw with marks of the respective students from 'tnames'

def filterMarks(x):                           # Creating a function to check if the marks are above 40. Returns Boolean value.
    if x > 40:                                # Check if marks are greater than 40. If yes,
        return True                           # Return True
    else:                                     # Else return False
        return False

marks = list(filter(filterMarks, tmarks))     # A list of marks that are greater than 40 is stored in marks variable

for j in marks:                               # Iterating through the marks list 
    print(tnames[tmarks.index(j)])            # Printing the name of students wrt the marks indices

Sharon
Jack

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [0]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}       # Weight of people in kg
GMoon = 1.622                                              # Gravitational force on the Moon: 1.622 m/s2
GEarth = 9.81                                              # Gravitational force on the Earth: 9.81 m/s2

# Returning a the weights on moon as a list
# Formula : wMoon = (wEarth * GMoon) / GEarth
WeightOnMoon = list(map(lambda x: round((x*GMoon)/GEarth,2), WeightOnEarth.values()))

# Zipping (Combining) the keys of dictionary 'WeightOnEarth' and the values of the list 'WeightOnMoon'
WeightOnMoon_dict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))

print('Weight on Moon: ', WeightOnMoon_dict)


# Alternate formula for conversion
# Weight on moon is approx. 1/6 th of the weight on earth
# WeightOnMoon = list(map(lambda x: round(x / 6, 2), WeightOnEarth.values()))
# WeightOnMoon

Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [0]:
from functools import reduce
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

result_intersection = reduce(set.intersection, map(set, given_sets))
print(result_intersection)

{8, 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# create a function using '**kwargs' to store the prices of different products
# we can use '**kwargs' to pass the variable number of keyword-ed arguments  
def prod(**kwargs):
    for i, j in kwargs.items():
        print('Price of', i, 'is', j)
        
# call the function
prod(Milk = 55, Bread = 20, Butter = 35, Apple = 68)

Price of Milk is 55
Price of Bread is 20
Price of Butter is 35
Price of Apple is 68

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# define the function
def multi(x,y):
    product = x * y
    return product

# global variables 
x = 16
y = 12

print("The product of" , x, "and", y, "is:", multi(x, y))

The product of 16 and 12 is: 192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [0]:
from itertools import accumulate

# Passing the list and the lambda function to find the average
result = accumulate([9, 8, 7, 6, 5], lambda x, y: (x + y) / 2)      

for res in result:              # Iterating through the result to see the each step
    print(res)

9
8.5
7.75
6.875
5.9375