<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id ="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
print("Hello, How are you?")

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [ ]:
print("     *     ")
print("    ***    ")
print("   *****   ")
print("  *******  ")
print(" ********* ")

     *
    ***
   *****
  *******
 *********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# use '\n' to add a new blank line  
print(" A\n B\n C")

 A
 B
 C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [ ]:
# create a string variable
string_var = 'Hello, how are you?'

# check it's type
type(string_var)

str

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [ ]:
# create a numeric variable
int_var = 50

# check the variable type
type(int_var)

int

ii. A fractional variable

In [ ]:
# a fractional numeric variable
frac_var = 23.837

# check the variable type
type(frac_var)

float

A fractional number is called a floating point number in python.

**Note:** Float values are the numeric values specified with a decimal point.

**Declare a boolean variable and check its data type.**

In [ ]:
# declare a boolean variable 'bool_var'
bool_var = (34 == 6)

# check the variable type
type(bool_var)

bool

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write a complex number 2+3j 
comp_var = 2+3j

# check the variable type
type(comp_var)

complex

**Here 2 is the real part and 3 is the imaginary part**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# create a float variable
f = 23.45

# check the variable type
type(f)

float

In [ ]:
# covert float to integer
f = int(f)

# check the variable type
print( "The type of 'f' is ", type(f))

The type of 'f' is  <class 'int'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numeric variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# create a numeric variable
num = 23

# check the variable type
type(num)

int

In [ ]:
# covert the number to a string
num = str(23)

# check the type of string
type(num)

str

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
145*354 - 1345/45 + (462+23)/3

51461.777777777774

**Note:** The Heirarchy of the arithmetic operators is as follows:<br>
1) Parentheses <br>
2) Exponential<br>
3) Multiplication (from left to right) <br> 
4) Division (from left to right) <br>
5) Addition<br>
6) Subtraction<br>

It is generally abbreviated as PEMDAS.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# 1353 plus 234
1353 + 234

1587

In [ ]:
# 2355 minus 346
2355 - 346

2009

In [ ]:
# 234 times 457
234 * 457

106938

In [ ]:
# 25 divided by 6
25 / 6

4.166666666666667

In [ ]:
# Obtain remainder of 25 divided by 6
25 % 6

1

In [ ]:
# 33 raised to 4
33**4

1185921

In [ ]:
# 45 divided by 6 (floor division)
45 // 6

7

In [ ]:
# 2 raised to 10
2**10

1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# consider the runtime variables 'height' and 'weight'
height = input('Height (in m):')
weight = input('Weight (in kg):')

# change the type of runtime variables to 'float' to calculate the BMI
height = float(height)
weight = float(weight)

# compute BMI 
BMI = weight/(height**2)

# print the value of BMI
BMI

Height (in m):1.62
Weight (in kg):65

24.76756591982929

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
(54+34)* 45 ==  (0.9*2432)/0.9

False

**All relational operators can be used to get the a boolean output**

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
sentence_1 = 'We shall learn Python.'

In [ ]:
sentence_2 = 'Specifically, python for data science.'

In [ ]:
sentence_1 + sentence_2

'We shall learn Python.Specifically, python for data science.'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num = 34
string ='How old are you? '

string + num

TypeError: must be str, not int

**Note: It is not possible to concatenate a numeric variable and a string vriable. Both the variables should have the same data type**

So we convert the numeric variable to string.

**Remark:** Also note that, subtraction and division is not possible for strings. We can concatenate two strings using the '+' operator. And the ' * ' operator replicates the string that many times. For instance, string = 'GreatLakes' and y = string * 3, the output for it is 'GreatLakesGreatLakesGreatLakes'

In [ ]:
string + str(num)

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

                set total = 0 
                for i in 1 to 10,
                      do total = total + 5 
                      print total

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                set a = 0
                set b = 1
                set l is list of fibonacci series
                initialize i=1
                while i is less than 11, do:
                     next = a + b
                     a = b
                     b = next
                     append b to list l
                print list l

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                 i = 10
                 if i is greater than 15: 
                      print that 10 is less than 15

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                num = number entered by the user
                if num modulo 7 == 0
                      print the number is divisible by 7
                else print the number is not divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                set number = number entered by the user
                set fact = 1
                if num is negative do :
                    print factorial does not exist for negative numbers.
                elif num == 0:
                print the fact of 0 is 1.
                else:
                for i in 1 to number:
                      fact = fact*i
                print The factorial of the number is 'fact'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

               set num = number entered by the user
               for i in 2 to 14 do, 
                      if num is divisible by all i do:
                           print num is not a prime number 
                           break
                      else print num is a prime number