<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [1]:
list1 = []

# Swap function 
def Swapnumber(list2): 
    size = len(list2) 
      
    # Swapping  
    temp = list2[0] 
    list2[0] = list2[size - 1] 
    list2[size - 1] = temp 
      
    return list2 
      
# Use the given list to swap the elements
list2 = [15, 78, 10, 45, 89] 

# call the function and print the output
print(Swapnumber(list2))

[89, 78, 10, 45, 15]

**Code Explanation:**
1. Define the function Swapnumber() which swaps the first and last value of the list
2. Pass parameters ‘list2’ which we create
3. Store the length of the list which we want
4. Write the condition for swapping first and last value of the list
5. Create a list2
6. Call the swapnumber function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# define the function
def sum_numbers(x,y):
    sum = x + y
    return sum

num1 = 1204
num2 = 344536

print("The sum of" ,num1, "and",num2,"is:", sum_numbers(num1, num2))

The sum of 1204 and 344536 is: 345740

** Code Explanation:**
1. Define the function add_numbers() which adds two numbers
2. Pass parameters ‘x’ and ‘y’
3. Declare two global variables to calculate their sum
3. Print the value of two parameters as well as their sum value

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# check whether the number is even or odd
def evenodd(x):
    # check condition
    if (x % 2 == 0):
        return "The number is even"
    else:
        return "The number is odd"
    
# call a defined function    
evenodd(33)

'The number is odd'

**Code Explanation:**
1. Define a function to test whether the number is even or odd
2. Use if else statement to check the condition
3. Call a defined function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return (n * factorial(n-1))
    
# print the result
print ("6! = ",factorial(6))

6! =  720

**Code Explanation:**
1. Define a function to find facorial
2. Use if else statement to check the condition
3. If n == 1: return 1
4. Otherwise, call the function with the number minus 1 multiplied by the number itself
5. Print the factorial of the number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# define function to add new elements in a given list
def add_values(new_values, base_values=[]):
    for value in new_values:
        base_values.append(value)
    return base_values

# call the function
add_values((1, 2, 3))

[1, 2, 3]

**Code Explanation:**
1. Define a function to add new elements in the list
2. Use append function in for loop to add new elements
3. Call the function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# enter the strings
str1 = input("Enter the string 1 : ")
str2 = input("Enter the string 2 : ")
str3 = input("Enter the string 3 : ")
str4 = input("Enter the string 4:  ")
# tests if two words start with the same character
def initial_letter(str1, str2): 
        if str1[0].upper() == str2[0].upper(): 
            return True
        else: 
            return False

print(initial_letter(str1, str2))
print(initial_letter(str3, str4))

Enter the string 1 : python
Enter the string 2 : data science
Enter the string 3 : python
Enter the string 4:  python for data science
False
True

**Code Explanation:**
1. Enter the strings. Read and store them in str1 and str2 variable
2. Check the condition using if else statement
3. Print out the result
4. It will return True if the words start with the same character. Else it returns False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
def check_vowel(a):
        vowels = ["a", "e", "i", "o", "u", "A", "E", "I", "O", "U"]
        vowel = False
        for vowell in vowels:
                if vowell in a:
                        vowel = True

        print (vowel)
        
check_vowel(input("Enter a string:"))

Enter a string:data science
True

**Code Explanation:**
1. Enter the string
2. Define function check_vowel()
3. Use the if-else statement in for loop to check whether a name has a vowel or not
4. Call the function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [8]:
def unique_values(list):
    x = []
    for a in list:
        if a not in x:
            x.append(a)
    return x
    
print(unique_values([1,2,3,3,11,34,3,3,4,5]))

[1, 2, 3, 11, 34, 4, 5]

**Code Explanation:**
1. Define the unique_values() function
2. Intilize a null list
3. Write a condition to get unique values
4. Print the output

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [9]:
# define a function to find common characters from the list
def common_character(string1, string2):
        "Takes two strings, returns a sorted list of common characters" 
        common = []
        for c in string1:
            if c in string2:
                common.append(c)
        return common
    
# call the function
common_character('Angel', 'apple')

['e', 'l']

**Code Explanation:**
1. Define a function to return all common characters
2. Intilize a null list
3. Check the common value is present or not
4. Call the function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [10]:
def arithmaticfunction(a,b):
    sum = a +b
    mul = a * b
    sub = a - b
    return (sum, mul, sub)


a = 15
b = 4

arithmaticfunction(a, b)

(19, 60, 11)

**Code Explanation:**
1. Define a python function
2. Write a code for addition, multiplication, and subtraction
3. Declare the value of a and b
4. Call the function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [11]:
my_list = [34, 34, 55, 2, 56, 45]
def addlist(my_list):
    total = 0
    for i in my_list:
        total += i
    return total

addlist(my_list)

226

**Code Explanation:**
1. Define a function
2. Write a condition to calculate sum of all elements in the list
3. Print the output

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
min_value = (lambda x, y: x if x < y else y)
min_value(34, 78)

34

**Code Explanation:**
1. Create a lambda function using the if-else statement that accepts a number and returns minimum value
2. Pass the values to the function

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [13]:
number = (11, 21, 30, 34)
num_square = map(lambda x: x ** 2, number)
set(num_square)

{121, 441, 900, 1156}

**Code Explanation:**
1. Use a map function to calculate the square of each element from the tuple
2. Convert a map object to set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [14]:
# read the sentence
sentence = 'Python for Data Science'

words = sentence.split()
print (words)
 
findlengths = map(lambda words: len(words), words)
list(findlengths)

['Python', 'for', 'Data', 'Science']

[6, 3, 4, 7]

**Code Explanation:**
1. Split the sentence in the form of list
2. Use the map function to get the count of each word
3. Convert output into the set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [15]:
numbers = [ 74, 85, 14, 23 ]

remainders = map(lambda num: num%5, numbers)
for i in remainders:
    print(i)

4
0
4
3

**Code Explanation:**
1. Use map function to find the remainder of all the numbers 
2. Use for loop to iterate over the list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [16]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99, 45]

modifiedList = list(map(lambda x, y: x + str(y), list1, list2))
 
print('Modified List : ', modifiedList)

Modified List :  ['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99', 'happy45']

**Code Explanation:**
1. Concatenate the two lists inside the map function to join elements
2. Print the output

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [17]:
def common_elements(arr1,arr2): # finding common elements
    # use filter method to find identical values via lambda function
    values = list(filter(lambda x: x in arr1, arr2))
    print ("Common elements from arr1 & arr2 is: ",values)

# given array
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

# call the function
common_elements(arr1, arr2)

Common elements from arr1 & arr2 is:  ['o', 'i', 't']

** Code Explanation:**
1. Define a function to find common element
2. Use filter function to find the common elements
3. Declare the global array
4. Call the function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [18]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

# function that filters the numbers
def oddnumber(in_num):

    if(in_num % 2) == 0:
        return True
    else:
        return False

# Use filter() to remove odd numbers
out_filter_number = filter(oddnumber, numbers)

print("Type of filter object: ", type(out_filter_number))
print("Even number is as follows: ", list(out_filter_number))

Type of filter object:  <class 'filter'>
Even number is as follows:  [110, 352, 278]

**Code Explanation:**
1. Define a function that filters the even numbers
2. Filter the even numbers from the list
3. Print the output

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 200<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
import functools
reduce(lambda x, y: x+y, range(1,200))

TypeError: 'tuple' object is not callable

**Code Explanation:**
1. Import reduce from functools
2. Use reduce function to calculate sum of the numbers from 1 to 200

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [10]:
my_list = [47,11,42,102,13]
reduce(lambda a, b: a if (a > b) else b)

TypeError: 'tuple' object is not callable

**Code Explanation:**
1. Define lambda function to find the maximum of a list
2. Use reduce function to find the maximum value